.projectItemCard {
  background: var(--degradado6);
  transition: transform 0.4s ease-in-out;
  transition: filter 0.1s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
  box-shadow: var(--containerShadow2);
}
.projectItemCard:hover {
  box-shadow: var(--containerShadow3);
  transform: scale(1.1);
  filter: brightness(110%);
}


.react-multiple-carousel__arrow--left {
  left: 0.3rem;
  z-index: 0;
}

.react-multiple-carousel__arrow--right {
  right: 0.3rem;
  z-index: 0;
}
.react-multi-carousel-dot--active button {
  background-color: white;
}