.projectItemCard {
  margin: 0 auto;
  /* border: 2.15rem solid var(--neon_color1); */
  border-radius: 2rem;
  background: var(--degradado6);
  transition: transform 0.4s ease-in-out;
  transition: filter 0.1s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
  padding: 0.6rem 0.6rem;
  box-shadow: var(--containerShadow2);
}
.projectItemCard:hover {
  box-shadow: var(--containerShadow3);                                                                        
  transform: scale(1.1);
  filter: brightness(110%);
}

.skills_grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-bottom: 2.5rem;
  margin-bottom: 1rem;
}
@media (max-width: 380px) {
  .skills_grid{
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) {
  .skills_grid{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1140px) {
  .skills_grid{
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1400px) {
  .skills_grid{
    grid-template-columns: repeat(6, 1fr);
  }
}

.react-multiple-carousel__arrow--left {
  left: 0.3rem;
  z-index: 0;
}

.react-multiple-carousel__arrow--right {
  right: 0.3rem;
  z-index: 0;
}
.react-multi-carousel-dot--active button {
  background-color: white;
}