
.projectItemCard {
  margin: 0 auto;
  /* border: 2.15rem solid var(--neon_color1); */
  border-radius: 2rem;
  background: var(--degradado6);
  transition: transform 0.4s ease-in-out;
  transition: filter 0.1s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
  padding: 0.6rem 0.6rem;
  box-shadow: var(--containerShadow2);
}
.projectItemCard:hover {
  box-shadow: var(--containerShadow3);
  transform: scale(1.1);
  filter: brightness(110%);
}

.projectItemCard .textContainer {
  margin: 1.5rem auto;
  text-align: center;
}
.projectItemCard .textContainer h4 {
  font-size: 1.61rem;
  color: var(--highlighted_text_color);
  font-weight: 700;
}
.projectItemCard .textContainer span {
  font-size: 1.30rem;
  color: var(--link_disabled_color);
}
.projectItemCard .textContainer p {
  margin-top: 0.7rem;
  font-size: 1.25rem;
}
.proj-imgbx {
  border-radius: 2rem;
  overflow: hidden;
}



