.socialIconSmall a {
  /* background: rgba(217, 217, 217, 0.0); */
  display: inline-flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.socialIconSmall a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.socialIconSmall a:hover::before {
  transform: scale(1);
}
.socialIconSmall a img {
  width: 55%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.socialIconSmall a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%);
    width: 55%;
}
.socialIconSmall a:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}