
/** skills **/
.skill {
  padding: 0 0 50px 0;
  position: relative;
}
.skill-bx {
  background: #1E1D2B;
  border-radius: 64px;
  text-align: center;
  /* padding: 60px 50px; */
  margin-top: -60px;
}
.skill h2 {
  font-size: 45px;
  font-weight: 700;
}
.skill p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin:14px 0 75px 0;
}
.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item img {
  /* width: 50%; */
  width: 90px;
  margin: auto 0 auto 0;
}
.background-image-left {
  top:28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

.owl-carousel {
  padding-bottom: 20px;
}

.skill li {
  display: flex;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
}

.skill img {
  align-self: center; /*alinear imagenes centro x*/
}
