
/** skills **/

.background-image-left {
  top:28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}
.skill-bx {
  border-radius: 55px;
  text-align: center;
  margin-top: -60px;
  background-color: var(--container_color6);
}
.skill-slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item img {
  width: 90px;
  margin: auto 0 auto 0;
  border-radius: 0.5rem;
}
.skill-slider .item h5 {
  margin-top: 0.5rem;
}

@media (min-width: 400) {
  .skill-slider .item img {
    width: 20px !important;
  }
}

.skill li { /*Para centrar verticalmente la imagen en el contenedor*/
  display: flex;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.skill img {
  align-self: center; /*alinear imagenes centro x*/
}
/* .react-multiple-carousel__arrow--left {
  left: 0;
  z-index: 0;
}

.react-multiple-carousel__arrow--right {
  right: 0;
  z-index: 0;
}
.react-multi-carousel-dot--active button {
  background-color: white;
  
} */
.skills_grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  padding-bottom: 2.5rem;
  margin-bottom: 1rem;
}
@media (max-width: 380px) {
  .skills_grid{
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) {
  .skills_grid{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1140px) {
  .skills_grid{
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1400px) {
  .skills_grid{
    grid-template-columns: repeat(6, 1fr);
  }
}