
/** skills **/
.background-image-left {
  top:28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}
.skill-bx {
  background: #161621;
  border-radius: 64px;
  text-align: center;
  margin-top: -60px;
}
.skill h2 {
  font-size: 45px;
  font-weight: 700;
}
.skill p {
  color: #B8B8B8;
  /* font-size: 18px; */
  letter-spacing: 0.8px;
  line-height: 1.5em;
}
.skill-slider {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item img {
  /* width: 50%; */
  width: 90px;
  margin: auto 0 auto 0;
}

@media (min-width: 400) {
  .skill-slider .item img {
    width: 20px !important;

  }
}

.skill li {
  display: flex;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
}

.skill img {
  align-self: center; /*alinear imagenes centro x*/
}
.react-multiple-carousel__arrow--left {
  left: 0;
}

.react-multiple-carousel__arrow--right {
  right: 0;
}
.react-multi-carousel-dot--active button {
  background-color: white;
  
}