
:root {
  --elementWidth: 160px;
}
.wrapper {
  color: #555;
  width: var(--elementWidth);
  margin: 0 auto 0;
}
.select-btn, .language-list li {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.select-btn {
  border-radius: 7px;
  color: white;
  /* border: white solid 1px; */
  background: transparent;
  height: 50px;
  padding: 0 20px;
  justify-content: space-between;
  transition: color 0.4s ease-in-out;
}
.select-btn:hover {
  color: var(--link_color_hover);
  
}
.select-btn img {
  width: 30px;
  font-size: 31px;
  transition: transform 0.3s linear;
}
.wrapper.active .select-btn img {
  transform: rotate(-180deg);
}
.content {
  display: hidden;
  position: absolute;
  opacity:0;
  padding: 14px;
  margin-top: 5px;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0.95);
  width: var(--elementWidth);
  transition: opacity 0.25s linear;
}
.wrapper.active .content {
  display: block;
  opacity:100;
  pointer-events: all;
}
.wrapper .content {
  pointer-events: none;
}
.content .search {
  position: relative;
  display: flex;
  align-items: center;
}
.search img {
  width: 20px;
  left: 15px;
  color: #555;
  font-size: 20px;
  line-height: 53px;
  position: absolute;
}
.search input {
  border-radius: 5px;
  padding: 0 15px 0 43px;
  border: 1px solid #b3b3b3;
}
.content .language-list {
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 7px;
}
.language-list::-webkit-scrollbar {
  width: 7px;
  border-radius: 25px;
}
.language-list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.language-list::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}

.language-list li {
  height: 50px;
  border-radius: 5px;
  padding: 0 13px;
}
.language-list li:hover, li.selected {
  background: var(--container_color3);
}