@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Cyber;
  src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
  font-display: swap;
}

@font-face {
  font-family: Chakra;
  src: url("./assets/font/ChakraPetch-Light.ttf");
  font-weight: 200;
}
@font-face {
  font-family: Chakra;
  src: url("./assets/font/ChakraPetch-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Chakra;
  src: url("./assets/font/ChakraPetch-Bold.ttf");
  font-weight: 700;
}

/* faff5c  yellow*/
/* ff8fff pink */
/* 6fa6ff lightblue1 */
/* 80d2ff lightblue2 */
/* 1f1d36 bg gray  */
:root {
  --neon_color1:rgba(0, 93, 254, 0.403);
  --neon_color2: #0062ff;
  --border_color1:#0062ff;
  --highlighted_text_color:#d8db8e;
  --link_disabled_color:#ff8fff;
  --link_color:#6fa6ff;
  --link_color_hover:#faff5c;
  --container_color:#231e3d;
  --container_color2:#0e0b13; 
  --container_color3:#100f1f;/*141225*/
  --bg_color1:#172565;
  --success_color:rgb(146, 255, 146);
  --success_dark_color:rgb(46, 107, 46);
  --danger_color:rgb(255, 99, 99);
  --danger_dark_color:rgb(141, 53, 53);
  --default_md_text_size: 20px;
  --default_sm_text_size: 10px;
  --input-font-size: 19.4px;
  --button-font-size: 17px;
  --gradient_color1: #ac31b0;
  --gradient_color2: #341da8;
  --degradado1: linear-gradient(90deg, #241f80 5.58%, #1a2b82 95.91%); /*used in nowhere*/
  --degradado2: linear-gradient(90.21deg, #341da8 -5.91%, #161333 111.58%); /*user in projectItem */
  /*used in home.jsx*/
  --degradado3: linear-gradient(180deg, rgba(36, 31, 128, 0) 5.58%, rgba(32, 26, 119, 0.53) 95.91%); 
  --degradado4: linear-gradient(90deg, rgba(36, 31, 127, 0.697) 5.58%, rgba(26, 43, 130, 0.766) 95.91%); /*used in contacto*/
  --normal-font-family: 'Chakra', sans-serif;
  --styled-font-family1: "Cyber", sans-serif;

}

@media (prefers-color-scheme: dark) { 
  /* :root {
    --highlighted_text_color:#ff64f2;
    --link_color:#75b3ff;
    --link_color_hover:#ff64f2;
  } */
}

/* Configuraciones de scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #292934;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--link_color);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--highlighted_text_color);
}
/* hasta aqui scrollbar */

/* Custom fonts */
*{
	/* user-select: none; */
}
  


/* default css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}
@keyframes borderAnimation {
  0% {
    border-color: var(--border_color1); /* Inicia con el color del borde */
  }
  25% {
    border-color: rgb(255, 0, 0); /* Cambia a rojo al 25% de la animación */
  }
  50% {
    border-color: rgb(0, 255, 0); /* Cambia a verde al 50% de la animación */
  }
  75% {
    border-color: rgb(0, 0, 255); /* Cambia a azul al 75% de la animación */
  }
  100% {
    border-color: var(--border_color1); /* Vuelve al color original al final de la animación */
  }
}
body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #050509;
  color: #fff;
  font-family: var(--styled-font-family1);
  border: 1px solid var(--border_color1); /* Decoración alrededor de la página */
  animation: borderAnimation 30s infinite; /* Aplica la animación al borde */
}
*:focus {
  outline-color: var(--border_color1);
  
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
  font-family: var(--normal-font-family);
  font-size: var(--default_md_text_size);
}
p,
a,
li,
button,
ul {
  font-size: var(--default_md_text_size);
}
input {
  font-size: var(--input-font-size);
}
button {
  font-size: var(--button-font-size);
}
h2,
h3 {
  font-weight: 700;
  text-align: center;
  
}
h2 {
  font-size: 50px;
}
h3 {
  letter-spacing: 0.8px;
  line-height: 1.1em;
  font-size: 35px;
}

p {
  color: #bbbbbb;
  font-size: var(--default_md_text_size);
  letter-spacing: 0.8px;
  line-height: 1.5em;
}

a:hover {
  text-decoration: none;
}

.styledFontFamily{
  font-family: var(--styled-font-family1);
}

@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: var(--success_color);
}

p.danger {
  color: var(--danger_color);
}


.button_transparent_rounded {
  font-weight: 700;
  color: #ffffff;
  position: relative;
  transition: 0.3s ease-in-out;
  padding: 18px 34px;
  /* background-color: transparent; */
  border-radius: 20px;
}
.button_transparent_rounded span {
  z-index: 1;
  position: relative;
}
.button_transparent_rounded:hover {
  color: black;
}
.button_transparent_rounded::before {
  content: "";
  border-radius: 18px;
  background: #ffffff;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.button_transparent_rounded:hover::before {
  width: 100%;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Esto asegura que la altura del contenedor sea al menos igual a la altura de la ventana gráfica. */
}

.degradado1 {
  background: var(--degradado1);
}
.degradado3 {
  background: var(--degradado3);
}
.svg_link1:hover svg path {
  fill: var(--link_color_hover);
}
.svg_link2:hover svg path {
  stroke: var(--link_color_hover);
}

.blur-background {
  filter: blur(5px); /* Ajusta el valor de desenfoque según tu preferencia */
}

.bgBanner1 {
  background-image: linear-gradient(to right, rgba(6, 1, 21, 1), rgba(14, 0, 17, 0.5)), url("./assets/img/bg1.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}