@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button_transparent_rounded {
    @apply px-11 py-[1.1rem] shadow-sm shadow-border_color1 hover:shadow-md hover:shadow-neon_color2
    flex justify-center items-center w-fit border-[1.5px] border-solid border-border_color1 bg-[black] bg-opacity-40
  text-white font-bold relative transition-all duration-300 ease-in-out rounded-[1.3rem];
  }
  .linkStyles {
    @apply text-link_color hover:text-link_color_hover hover:underline textShadow cursor-pointer;
  }
  .paragraphStyles {
    @apply mb-2 textShadow text-[#ccc];
  }
  .paragraphStyles2 { 
    @apply mb-2 textShadow text-[#eee];
  }
  .textShadow {
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 1); 
  }
}

@font-face {
  font-family: Cyber;
  src: url("https://assets.codepen.io/605876/Blender-Pro-Bold.otf");
  font-display: swap;
}

@font-face {
  font-family: Chakra;
  src: url("./assets/font/ChakraPetch-Light.ttf");
  font-weight: 200;
}
@font-face {
  font-family: Chakra;
  src: url("./assets/font/ChakraPetch-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Chakra;
  src: url("./assets/font/ChakraPetch-Bold.ttf");
  font-weight: 700;
}

/* faff5c  yellow*/
/* ff8fff pink */
/* 6fa6ff lightblue1 */
/* 80d2ff lightblue2 */
/* 1f1d36 bg gray  */
:root {
  --text_dark-gray: #24243a;
  --neon_color1:rgba(65, 135, 255, 0.659); /*used in projectItem*/
  --neon_color2: #0062ff;
  --border_color1:#0062ff;
  --border_color2:rgba(0, 98, 255, 0.448); /* used in projectItems*/
  --highlighted_text_color:#d8db8e;
  --link_disabled_color:#ff8fff;
  --pink_color2:rgb(255, 186, 255);
  --link_color:#6fa6ff;
  --link_color_hover:#faff5c;
  --dark_link_color:#0040a6;
  --dark_link_color_hover:#f6ff00;
  --dark_link_color_hover2:#0059e8;
  /* --container_color:#171939; used in skills */
  --container_color2:rgb(var(--container_color2_aux)); /*used in about-me and projects*/
  --container_color2_aux:23, 25, 57; /*used in skills*/
  --container_color3:rgb(224, 224, 233);/*Used in articles*/
  --container_color4:#b9b9e7;/*Used in select tab projects*/
  --container_color5:#15193e; /*used in footer*/
  --container_color6:rgba(22, 20, 64, 0.8); /*used in skills*/
  --container_color7:#1f256c; /*used in projects_category_common*/
  --bg_color1:#172565;
  --success_color:rgb(146, 255, 146);
  --success_dark_color:rgb(46, 107, 46);
  --danger_color:rgb(255, 99, 99);
  --danger_dark_color:rgb(141, 53, 53);
  --default_md_text_size: 23px; /*parrafos y demás*/
  --input-font-size: 19.5px;
  --button-font-size: 18px;
  --gradient_color1: #8a44db; /*used in project tabs*/
  --gradient_color2: #1f53cc;/*used in project tabs*/
  --degradado1: linear-gradient(90deg, #20224d 5.58%, #21244d9c 95.91%); /*used in Articles*/
  --degradado2: linear-gradient(90.21deg, #3b77c5 -5.91%, #722fca 111.58%); /*user in projectItem */
  --degradado3: linear-gradient(180deg, rgba(36, 31, 128, 0) 90.58%, rgb(50, 50, 165) 100.91%); /*used in skills*/
  --degradado4: linear-gradient(90deg, rgba(70, 111, 149, 0.697) -10.58%, rgba(33, 50, 130, 0.766) 95.91%); /*used in contacto*/
  --degradado5: linear-gradient(90deg, #2a2d7f 5.58%, #2a2d7f 95.91%); /*used in Articles*/
  --degradado6: linear-gradient(180deg, rgba(34, 44, 144, 0.395) 50.58%, rgba(3, 6, 38, 0.395) 100.91%);/*used in ProjectItemCard*/
  --containerShadow2: 0 7px 10px 2px rgba(0,0,0,0.5); /*used in projectItemCard*/
  --containerShadow3: 0 2px 4px 2px var(--neon_color2);; /*used in projectItemCard*/
  --normal-font-family: 'Chakra', sans-serif;
  --styled-font-family1: "Cyber", sans-serif;

}

*{
	/* user-select: none; */
}

@media (prefers-color-scheme: dark) { 
  /* :root {
    --highlighted_text_color:#ff64f2;
    --link_color:#75b3ff;
    --link_color_hover:#ff64f2;
  } */
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #292934;
  border-radius: 0.2rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--link_color);
  border-radius: 0.2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--link_disabled_color);
}
/* ends scrollbar */


/* default css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}
@keyframes borderAnimation {
  0% {
    border-color: var(--border_color1); /* Inicia con el color del borde */
  }
  25% {
    border-color: rgb(255, 0, 0); /* Cambia a rojo al 25% de la animación */
  }
  50% {
    border-color: rgb(0, 255, 0); /* Cambia a verde al 50% de la animación */
  }
  75% {
    border-color: rgb(0, 0, 255); /* Cambia a azul al 75% de la animación */
  }
  100% {
    border-color: var(--border_color1); /* Vuelve al color original al final de la animación */
  }
}
body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #050509;
  color: #fff;
  font-family: var(--styled-font-family1);
  border: 1px solid var(--border_color1); /* Decoración alrededor de la página */
  animation: borderAnimation 30s infinite; /* Aplica la animación al borde */
}
*:focus {
  outline-color: var(--border_color1);
  
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}
@media (max-width: 640px) {
  h2 {
    font-size: 35px !important;
  }
}

p,
a,
li,
button,
ul,
button, input, optgroup, select, textarea
 {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
  font-family: var(--normal-font-family);
  font-size: var(--default_md_text_size);
}
p,
a,
li,
button,
ul {
  font-size: var(--default_md_text_size);
}
input {
  font-size: var(--input-font-size);
}
button {
  font-size: var(--button-font-size);
}
h2,
h3 {
  font-weight: 700;
  text-align: center;
  
}
h2 {
  font-size: 50px;
}
h3 {
  letter-spacing: 0.8px;
  line-height: 1.1em;
  font-size: 35px;
}

p {
  color: #bbbbbb;
  font-size: var(--default_md_text_size);
  letter-spacing: 0.8px;
  line-height: 1.5em;
}

a:hover {
  text-decoration: none;
}

.styledFontFamily{
  font-family: var(--styled-font-family1);
}

@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: var(--success_color);
}

p.danger {
  color: var(--danger_color);
}


.button_transparent_rounded span {
  z-index: 1;
  position: relative;
}
.button_transparent_rounded:hover {
  color: black;
}
.button_transparent_rounded::before {
  content: "";
  border-radius: 18px;
  background: #ffffff;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.button_transparent_rounded:hover::before {
  width: 100%;
}
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Esto asegura que la altura del contenedor sea al menos igual a la altura de la ventana gráfica. */
}

.degradado1 {
  background: var(--degradado1);
}
.degradado5 {
  background: var(--degradado5);
}
.degradado3 {
  background: var(--degradado3);
}
.svg_link1:hover svg path {
  fill: var(--link_color_hover);
  stroke: var(--link_color_hover);
}

.blur-background {
  filter: blur(5px); /* Ajusta el valor de desenfoque según tu preferencia */
}

.bgBanner1 {
  background-image: linear-gradient(to right, rgb(11, 2, 38), rgba(21, 2, 25, 0.51)), url("./assets/img/bg1.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.emoji_size {
  font-size: 30px;
}

.bg_semitransparent {
  background: rgba(var(--container_color2_aux), 0.90);
}
.bgContainer2 {
  background: var(--container_color2);
  
}

/* hr separator */

.hr5 {
  border: 0;
  border-top: medium double var(--border_color1);
  height: 1px;
  overflow: visible;
  padding: 0;
  /* color: #fff; */
  text-align: center;
}

.hr5::after {
  /* content: "¶"; */
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.4em;
  padding: 0 0.3em;
  /* background: white; */
}
.simple_background {
  background: rgb(16, 16, 38);  
}
.normal_font_family_aux {
  font-family: var(--normal-font-family);
}
.bg_projects_category_common {
  background-image: linear-gradient( var(--container_color7), var(--container_color7));
}
.containerShadow1{
  box-shadow: 0 7px 10px 2px rgba(0,0,0,0.5);
}