@tailwind base;
@tailwind components;
@tailwind utilities;



.indicator {
  transition: left .4s;
}

:root {
  --highlighted_text_color:#ff8fff;
  --link_color:#94b6ff;
  --link_color_hover:#b6cdff;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --highlighted_text_color:#ff64f2;
    --link_color:#75b3ff;
    --link_color_hover:#ff64f2;
  } */
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #292934;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--link_color);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--highlighted_text_color);
}
/* Custom fonts */
*{
	user-select: none;
}
  
@font-face {
  font-family: Centra;
  src: url("assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Centra;
  src: url("assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

/* default css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}
body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #050509 !important;
  color: #fff !important;
  font-family: "Centra", sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}
h2,
h3 {
  font-weight: 700;
  text-align: center;
  
}
h2 {
  font-size: 45px;
}
h3 {
  letter-spacing: 0.8px;
  line-height: 1.1em;
  font-size: 25px;
}

p {
  color: #bbbbbb;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

p.success {
  color: rgb(146, 255, 146);
}

p.danger {
  color: rgb(255, 99, 99);
}







